<%- include('includes/head.ejs') %> 
<%- include('includes/navigation.ejs') %>
<body>
  <main>
    <form action="/" method="POST">
      <div>
        <label for="userName">Enter Username:</label>
        <input type="text" id="userName" name="userName">
      </div>
      <button class="btn" type="submit">Submit</button>
    </form>
<%- include('includes/end.ejs') %> 